LlamaIndex OCR Upload and Parse.json
{
  "name": "LlamaIndex OCR Upload and Parse",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1E6HSRoalsb7ea_fyI8oUvbS5Ijvgm1SR",
          "mode": "list",
          "cachedResultName": "Upload Invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1E6HSRoalsb7ea_fyI8oUvbS5Ijvgm1SR"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7c63c7cc-13d6-4bac-8c92-c15f73693abf",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZTheSiYcjAkVXvwk",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "f36e177e-8d31-445a-8e55-ba1c86c1be65",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZTheSiYcjAkVXvwk",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fileExtension }}",
                    "rightValue": "png",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "39b942b8-08e5-456d-88ca-948f49fdbce8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PNG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6e5920b9-a848-4999-867e-9ab54b720331",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fileExtension }}",
                    "rightValue": "JPG",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JPG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "faa59101-30af-49e3-849c-52945b2eac33",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        384,
        -16
      ],
      "id": "e1c4b208-879c-4850-92ef-c7ad71862d38",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the input as the picture from the prevsiouse phase: $JSON.data\n",
        "options": {
          "systemMessage": "=You are a financial‑extraction agent.\nYour task is to read a receipt and extract all financial information clearly and consistently.\nYou must output ONLY plain text in the exact structure below.\nDo not add commentary, explanations, or extra formatting.\n\n📌 Required Output Format (TEXT ONLY)\nCode\nInvoice Name: <value>\nInvoice Date: <value>\nCurrency: <value>\nTotal Amount: <value>\n\nItems:\nItem Name: <value>\nAmount: <value>\nCurrency: <value>\nCategory: <value>\nReason for Spending: <value>\n\nItem Name: <value>\nAmount: <value>\nCurrency: <value>\nCategory: <value>\nReason for Spending: <value>\n\n(Repeat for all items)\n\nTaxes:\nTax Name: <value>\nTax Rate: <value>\nTax Amount: <value>\nCurrency: <value>\n\nTax Name: <value>\nTax Rate: <value>\nTax Amount: <value>\nCurrency: <value>\n\n(Repeat for all taxes)\n\nValidation:\nCalculated Subtotal: <value>\nCalculated Total With Tax: <value>\nMatches Invoice Total: <true/false>\nDifference: <value>\n📌 Extraction Rules\nExtract all values exactly as shown on the receipt.\n\nIf a value is missing, leave it blank.\n\nDo not invent information.\n\nInclude every item, fee, discount, and tax line.\n\nValidation must be calculated:\n\nSubtotal = sum of item amounts\n\nTotal With Tax = subtotal + tax amounts\n\nmatches_invoice_total = true if totals match\n\ndifference = invoice_total − calculated_total_with_tax\n\nOutput only the text in the required structure.\n\nDo not wrap anything in JSON, tables, or code blocks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        -176
      ],
      "id": "a3264e4d-a72b-45bd-b5f1-1273c7384e67",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen-vl-ocr-2025-11-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAlibabaCloud",
      "typeVersion": 1,
      "position": [
        672,
        16
      ],
      "id": "b5cfe982-2347-4714-a1cf-527ec105e881",
      "name": "Alibaba Cloud Chat Model",
      "credentials": {
        "alibabaCloudApi": {
          "id": "RPVv8yHwkvRIWhQy",
          "name": "Alibaba Cloud account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1280,
        64
      ],
      "id": "88d7e110-7654-456e-8514-74cfbf731627",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-8hwkJEMeYYGRo1HL9922XcmbkafXlWBbuiB7rRUeuM",
          "mode": "list",
          "cachedResultName": "InvoiceLogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-8hwkJEMeYYGRo1HL9922XcmbkafXlWBbuiB7rRUeuM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 402577838,
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-8hwkJEMeYYGRo1HL9922XcmbkafXlWBbuiB7rRUeuM/edit#gid=402577838"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Total Price": "={{ $json.output.match(/Total Price:\\s*\\$?([\\d.]+)/)[1] }}\n",
            "Tax Price": "={{ ($json.output.match(/Tax Price:\\s*\\$?([\\d.]*)/) || [null, \"\"])[1] }}\n",
            "Bill for ": "={{ $json.output.match(/Bill For:\\s*(.+)/)[1].trim() }}\n",
            "Order ID": "={{ $json.output.match(/Order ID:\\s*([A-Za-z0-9\\-]+)/)[1] }}\n",
            "Date": "={{ $json.output.match(/Date:\\s*(.+)/)[1].trim() }}\n",
            "Address": "={{ $json.output.match(/Address:\\s*(.+)/)[1].trim() }}\n"
          },
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "Total Price",
              "displayName": "Total Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tax Price",
              "displayName": "Tax Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bill for ",
              "displayName": "Bill for ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        64
      ],
      "id": "852754d0-8e3f-44b9-868e-696b88537fcd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UDuv6FRTDLoQGy4x",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d7b7c2c-4ab3-4728-ab62-4c3b8e3b3232",
              "name": "={{ $json.output }}",
              "value": "markdown",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -176
      ],
      "id": "6cc9f81d-c3fe-4820-980d-0625fb43061c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1904,
        64
      ],
      "id": "9078b964-562d-4dbc-9450-b38a9fcf4aca",
      "name": "Download The Original Processed File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZTheSiYcjAkVXvwk",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YMkW-ljHmpNVYbNJtg62BXbPXy-iVYcD",
          "mode": "list",
          "cachedResultName": "Processed Invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YMkW-ljHmpNVYbNJtg62BXbPXy-iVYcD"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2080,
        64
      ],
      "id": "dfba035f-130e-4172-953d-f7a9d18d4525",
      "name": "Upload Invoices to Processed Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZTheSiYcjAkVXvwk",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2288,
        64
      ],
      "id": "56f98cd0-27b2-441e-a778-6597dc24383e",
      "name": "Delete Processed Invoices",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZTheSiYcjAkVXvwk",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6jq2KrWpARmiR7LxNBwzvmyAHcuilYRW"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        288
      ],
      "id": "75a0eddb-0d51-4d1e-9c8e-325bd7df53ec",
      "name": "Uplod to Mistral"
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 6jq2KrWpARmiR7LxNBwzvmyAHcuilYRW"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        288
      ],
      "id": "57a904fd-50bf-4f21-a4a5-0a3776305fe9",
      "name": "Get Signed URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6jq2KrWpARmiR7LxNBwzvmyAHcuilYRW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"table_format\": \"html\",\n  \"include_image_base64\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        288
      ],
      "id": "fa8f9ac8-5eb0-4880-a8a1-2e776f80607f",
      "name": "Get OCR Results"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the input from the user:  {{ $json.pages[0].markdown }}",
        "options": {
          "systemMessage": "You are a helpful assistantYou are a data‑processing agent.\nYour task is to read the input data provided to you and generate a clear, structured summary based ONLY on the following fields:\n\nTotal Price\n\nTax Price\n\nBill For\n\nAddress\n\nOrder ID\n\nDate\n\nYour output must be plain text only.\nDo not use JSON, tables, or code blocks.\nDo not add commentary or explanations.\nOnly return the final processed result in the exact structure below.\n\n📌 Required Output Format (TEXT ONLY)\nCode\nOrder ID: <value>\nDate: <value>\nBill For: <value>\nAddress: <value>\nTotal Price: <value>\nTax Price: <value>\n\nFinal Outcome:\n<Provide a short, clear explanation of the spending based on the fields above>\n📌 Rules for the Agent\nRead the input data exactly as provided.\n\nIf a field is missing, leave it blank.\n\nDo not invent information.\n\nThe “Final Outcome” must be a short, human‑readable explanation summarizing the spending.\n\nOutput must remain plain text so it can be pasted directly into Excel.\n\nDo not include JSON, markdown, tables, or code formatting."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1408,
        64
      ],
      "id": "fba8c15d-f8dd-418a-a5f0-fcde9049daff",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1408,
        240
      ],
      "id": "6794d17c-b1f5-4087-9fb1-1d991bc44b95",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2bYdiCBUGsinqHL6",
          "name": "TTS"
        }
      }
    },
    {
      "parameters": {
        "content": "This is the path to use mistral for extracting context from the pdf.",
        "height": 80,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        192
      ],
      "typeVersion": 1,
      "id": "1420f23b-83a3-40df-9829-7034547073c0",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Uplod to Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alibaba Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Download The Original Processed File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download The Original Processed File": {
      "main": [
        [
          {
            "node": "Upload Invoices to Processed Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Invoices to Processed Files": {
      "main": [
        [
          {
            "node": "Delete Processed Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uplod to Mistral": {
      "main": [
        [
          {
            "node": "Get Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed URL": {
      "main": [
        [
          {
            "node": "Get OCR Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OCR Results": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "01284397-530b-4068-9fc6-6f9ff99385d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93c9bc196c2ef21fe48c665a052fa13342d5a5fece59d408e8139da80c256355"
  },
  "id": "O92Q1cHFBZiUPmyI",
  "tags": []
}